<div class="row my-4">
  <div class="col-md-12">
    <h3>Edit Post Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Title</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          [value]="post.title"
        />
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          [value]="post.description"
        ></textarea>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary">Update Post</button>
      </div>
    </form>
  </div>
</div>
